<div><span class="credits">
    <h2>__MSG_simpleSettingsTitle__</h2>
    <span class="section"><b>__MSG_simpleSettingsDefaultThemes__</b></span><br>
    <label class="control-label col-sm-2">__MSG_simpleSettingsUITheme__</label>
    <select class="form-control small" id="editor-appearance-uitheme" command="editor:save-ui-theme">
      {{uiThemes}}
    </select>
    <label class="control-label col-sm-2">__MSG_simpleSettingsTheme__</label>
    <select class="form-control small" id="editor-appearance-theme" command="editor:save-theme">
      {{aceThemes}}
    </select><br><br>

    <span class="section"><b>__MSG_simpleSettingsFonts__</b></span><br>
    <label class="control-label col-sm-2">__MSG_simpleSettingsFontFamily__</label>
    <select class="form-control small-med" id="editor-appearance-theme" command="editor:save-font">
      {{fontsList}}
    </select>
    <label class="control-label col-sm-2">__MSG_simpleSettingsFontSize__</label>
    <input class="form-control small-ex" id="editor-appearance-uitheme" command="editor:save-font-size" type="number" value="{{fontSize}}">
    <br><br>
    <!--<label class="control-label col-sm-2">__MSG_simpleSettingsAutoComplete__</label>
    <input class="form-control small" id="editor-appearance-uitheme" command="editor:save-acl" type="checkbox" {{autoCompleteLive}}>
    <br>-->
    Beacon v{{version}}
</span></div>
